.nav-def-cus{
    background-color: white;
    background-image: none;
    border-bottom: 1px solid #df2020;

}

.navbar-default .navbar-nav>li>a {
    color: black;
}
.navbar-header{
    padding-bottom: 5px;
}

.navbar-header img {
    width: 200px;
    height: 50px;
    margin-top: -15px;
}

.navbar-nav.menu {
    background-color: #df2020;
    color: black;
    margin-left: 80px;
}

.navbar-inverse {
    background-color: #df2020;
    background-image: none;
    margin-top: 0;
    border-bottom: none;

}

.caption {
    text-align: center;
}

.btn-primary {
    background-color: #df2020;
    background-image: none;
    border: none;
}

h3 {
    color: #df2020;
}